#hero{
<<<<<<< HEAD
    height: clamp(65vh, 75vh, 85vh);
    background-image: url("\\images\\download.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}

#startText{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    left: 10vw;
=======
    height: clamp(55vh, 65vh, 75vh);
}

#startText{

>>>>>>> parent of dbb6680 (hero - almost finished)
}