.containerMemb {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 0 2vw;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  padding: 0 10vw;
  height: 80vh;
  position: relative;
  overflow: hidden;
}

.slideButton {
  position: absolute;
  height: 100px;
  width: 100px;
}

#left {
  left: 5vw;
}

#right {
  right: 5vw;
}

@media only screen and (min-width: 700px) {
  #containerMemb {
    flex-direction: row;
  }
}
