.membruCard {
  background-color: var(--dark-green1);
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  overflow: hidden;
  position: absolute;
  padding-bottom: 10px;
}

.center {
  left: calc(50% - 5em);
  width: 10em;
  height: 17em;
  transition: all 1s;
  z-index: 10;
}

.centerMent {
  left: calc(50% - 6.5em);
  width: 13em;
  height: 16em;
  transition: all 1s;
  z-index: 10;
}

.side {
  width: 9em;
  height: 15em;
  font-size: 0.8em;
  transition: all 1s;
  z-index: 9;
}

.sideMent {
  width: 11em;
  height: 14em;
  font-size: 0.8em;
  transition: all 1s;
  z-index: 9;
}

.left {
  left: -90%;
}

.right {
  left: 110%;
}

.leftMent {
  left: -12em;
}

.rightMent {
  left: calc(100% + 12em);
}

.next {
  left: -90%;
}

.prev {
  left: 110%;
}

.outside {
  display: none;
  z-index: 8;
}

.imgContainer {
  position: relative;
  height: 70%;
  width: 100%;
}

.imgContainer img {
  height: 100%;
}

.membruCard img {
  width: 100%;
  height: 100%;
}

.textCard {
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.textCard hr {
  margin: 0 0 10px 0;
  width: 70%;
}

#border {
  border: 1px solid;
  border-radius: 2px;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.links a {
  text-align: center;
  padding: auto;
  width: 13%;
}

.links img {
  padding: 12px 0 0 0;
}

/* for the wave line */

.custom-shape-divider-bottom-1724190201 {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1724190201 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 5vh;
}

.custom-shape-divider-bottom-1724190201 .shape-fill {
  fill: var(--dark-green1);
}

@media only screen and (min-width: 1000px) {
  .center {
    box-shadow: 0 0 30px 8px var(--accent-green);
    left: calc(50% - (13em / 2));
    height: 22em;
    width: 13em;
    transition: all 1s;
  }

  .centerMent {
    box-shadow: 0 0 30px 8px var(--accent-green);
    left: calc(50% - (15em / 2));
    height: 18em;
    width: 15em;
    transition: all 1s;
  }

  .side {
    height: 19em;
    width: 11em;
    transition: all 1s;
  }

  .sideMent {
    height: 15em;
    width: 11em;
    transition: all 1s;
  }

  .left {
    left: calc(50% - (13em / 2) - 17em);
  }

  .right {
    left: calc(50% + (13em / 2) + 6em);
  }

  .leftMent {
    left: calc(50% - (15em / 2) - 17em);
  }

  .rightMent {
    left: calc(50% + (15em / 2) + 6em);
  }

  .next {
    left: -15em;
  }

  .prev {
    left: calc(100% + 15em);
  }

  .outside {
    display: none;
  }
}
