.containerMemb {
  height: 20em;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.arrow {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
}

.arrow::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 2em solid transparent;
  border-bottom: 2em solid transparent;
  border-left: 4em solid var(--text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#left {
  left: 2em;
  transform: scaleX(-1);
}

#right {
  right: 2em;
}

@media only screen and (min-width: 1000px) {
  .containerMemb {
    height: 24em;
    width: 85vw;
  }
}
