.containerMent {
  height: 14em;
  width: 80%;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.containerCards {
  display: flex;
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;
}

.button {
  position: absolute;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: 10px;
  z-index: 3;
  top: 50%;
}

.button img {
  height: 2em;
  width: 2em;
}

#left {
  left: 0;
  transform: scaleX(-1);
}

#right {
  right: 0;
}

@media only screen and (min-width: 1000px) {
  .containerMent {
    height: 18em;
  }
}
