:root {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1{
    margin: 10px 0;
}

h2{
    margin: 5px 0;
}

h3{
    margin: 2px 0;
}

#fade{
    background-image: linear-gradient(to right, #eef5b8 5%, #7CE583 20%, #0f7086 40%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}