:root {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 3vw;
  font-weight: calc(1/2em);
}

h1{
  margin: 10px 0;
}

h2{
  margin: 5px 0;
}

#fade{
  background-image: linear-gradient(to right, #F9FFC9 3%, #7CE583 40%, #0f7086 89%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.subHeading{
  font-size: 0.5em;
  font-weight: calc(1/0.5em);
  letter-spacing: 0.2em;
  margin: 0 3px;
}