:root {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --black: rgb(0, 0, 0);
  --text: #D8D8D8;
  --accent-green: #34BE4D;
  --dark-green1: #1E5E1B;
  --dark-green2: #152115;
  --light-green1: #00FF1E;
  --light-green2: #A6FFB9;
  --fade-color: linear-gradient(to right, #F9FFC9 3%, #7CE583 40%, #0f7086 80%);
}

body {
  margin: 0;
  color: var(--text);
}

h1{
  font-family: "DM Sans", "Sans Bold";
  font-weight: 650;
  letter-spacing: 0.05em;
  margin: 10px 0;
}

h2{
  font-family: "DM Sans", "Sans Bold";
  font-size: 0.5em;
  font-weight: 400;
  letter-spacing: 0.3em;
  margin: 0 3px;
}

h3{
  font-family: "Text Me One", sans-serif;
  letter-spacing: 0.06em;
  margin: 5px 0;
}

#fade{
  background-image: linear-gradient(to right, #F9FFC9 3%, #7CE583 40%, #0f7086 89%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

}
#textFade{
  background-image: var(--fade-color);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  width: fit-content;
}

.backgroundText{
  background-color: var(--dark-green1);
  display: flex;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  padding: 0 0.5em;
}

<<<<<<< HEAD
=======
.imagine{
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  object-fit: cover;
  height: 100%;
  max-width: 100%;
}

>>>>>>> parent of dbb6680 (hero - almost finished)
.container{
  display: flex;
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;
  padding: 0 30px;
  gap: 50px;
}
